<div id="<%= dom_id post %>" style="background-color: <%= post.background_color %>">
  <p style="color: <%= post.font_color %>">
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p style="color: <%= post.font_color %>">
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p style="color: <%= post.font_color %>">
    <strong>Font color:</strong>
    <%= post.font_color %>
  </p>

  <p style="color: <%= post.font_color %>">
    <strong>Background color:</strong>
    <%= post.background_color %>
  </p>

</div>
